/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 /*/
#banner {
  background: black;
  padding: 45px;
  border-bottom: 2px solid;
  font: 50px "Arial", serif;
  color: white;
  text-align: right;
  height: 159px;

  img {

    float: left;
  }
}

nav {
  position:absolute;
  right:-10px;
  top:0;
}
#socialMedia {
  position:absolute;
  right:0;
  top:120px;
}

#socialMedia ul li {
   display:inline-block;
   width:60px;
   height:60px;
   text-indent:-9999em;
}

#socialMedia ul li.facebook {
  background:url(../images/sfilmwerkplaatsnav.png) 0px 64px;
}
#socialMedia ul li.vimeo {
  background:url(../images/filmwerkplaatsnav.png) -59px 63px; 
}

#socialMedia ul li.linkedin {
  background:url(../images/filmwerkplaatsnav.png) -120px 64px; 
}

#socialMedia ul li.rss {
  background:url(images/filmwerkplaatsnav.png) -180px 64px; 
}



#socialMedia ul li.facebook:hover {
  background:url(../images/socialnav.png) 0px 0px; 
}

#socialMedia ul li.vimeo:hover {
  background:url(../images/filmwerkplaatsnav.png) -60px 0px; 
}

#socialMedia ul li.linkedin:hover {
  background:url(../images/filmwerkplaatsnav.png) -120px 0px; 
}

#socialMedia ul li.rss:hover {
  background:url(../images/filmwerkplaatsnav.png) -180px 0px; 
}





#columns {
  background: white;

  #main {
    margin-left: 17em;
    padding: 20em;
    background: white;
  
    #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: white;

      ul {
      padding: 10px;
        li {
        list-style: none;
          a {
          color: white;
          font-size: small;
          }
        }
      }
    }
  }
}