/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 /*/
#banner {
  background: black;
  padding: 45px;
  border-bottom: 2px solid;
  font: 50px "Arial", serif;
  color: white;
  text-align: right;
  height: 159px;

  img {

    float: right;
  }
}

nav {
  position:absolute;
  left: 5px;
  top:0;
}






#columns {
  background: white;

  #main {
    margin-left: 17em;
    padding: 20em;
    background: white;
  
    #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: white;

      ul {
      padding: 10px;
        li {
        list-style: none;
          a {
          color: white;
          font-size: small;
          }
        }
      }
    }
  }
}